.Rhistory
.Rproj.user
.RData
_bookdown_files/*

# Don't ignore all _cache, _files folders because they are needed for output in the docs folder
/*_cache/
/*_files/
/rmarkdown/*_cache/
/rmarkdown/*_files/
/rmarkdown/*.html

figures

# Ignore intermediate
*.knit.md
*.utf8.md
/*.md
!README.md
!NEWS.md

*.aux
*.out
*.fls
*.toc
*.log
*.fdb_latexmk
_bookdown_files
libs
/bookdown[a-f0-9][a-f0-9][a-f0-9][a-f0-9][a-f0-9][a-f0-9][a-f0-9][a-f0-9][a-f0-9][a-f0-9][a-f0-9][a-f0-9]
.ipynb_checkpoints
*.rds
node_modules
Rplots.pdf
*.bib.sav
