.Rhistory
.Rproj.user
.RData
_bookdown_files/*
_main.rds
# Don't ignore all _cache, _files folders because they are needed for output in the docs folder
/*_cache/
/*_files/
/rmarkdown/*_cache/
/rmarkdown/*_files/
/rmarkdown/*.html


# Ignore intermediate
*.knit.md
*.utf8.md
/*.md
!README.md
