.question {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}

.question blockquote:first-child {
  margin-top: 0
}

.question blockquote:last-child {
  margin-bottom: 0
}
