.hints-icon {
    display: table-cell;
    padding-right: 15px;
    padding-left: 5px;
}

.hints-container {
    display: table-cell;
}

.noexercises, .question {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
}

.question {
  border-left: 5px solid #eee;
}

.question blockquote:first-child {
  margin-top: 0
}

.question blockquote:last-child {
  margin-bottom: 0
}

/* Anchors and external links for sections */
/* Showing anchors for sections idea comes from the CSS GitHub uses to render READMEs
   See https://github.com/sindresorhus/github-markdown-css */
.section-link {
  font-size: smaller;
  vertical-align: middle;
  /* yeah, imporant is bad, but I can't figure out how to override this one otherwise */
  color: #a9a9a9 !important;
}

.anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
}

.r4ds-section-link {
  padding-left: 4px;
}

h1 a.section-link,
h2 a.section-link,
h3 a.section-link,
h4 a.section-link,
h5 a.section-link,
h6 a.section-link {
  visibility: hidden;
}

h1:hover a.section-link,
h2:hover a.section-link,
h3:hover a.section-link,
h4:hover a.section-link,
h5:hover a.section-link,
h6:hover a.section-link {
  visibility: visible;
}

/* space for the anchor links icons on the left */
.book .book-body .page-wrapper .page-inner section {
  margin-left: 20px;
}
